.InternshipList{
  position: relative;
  display: inline-block;
  justify-content: center;
}
.list{
  padding: 100px;
  position: relative;
  justify-content: center;
}
.radio-inputs {
    z-index: 1;
    position:relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #d6d6d6;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.50rem;
    margin: auto;
    max-width: 600px;
    width: 80%;
    font-size: 14px;
  }
  
  .radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
  }
  
  .radio-inputs .radio input {
    display: none;
  }
  
  .radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .2rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
    font-size: 17px;
  }
  
  .radio-inputs .radio input:checked + .name {
    background-color: #b3c000;
    color: white;
  }