.main-navigation__menu-btn {
  width: auto;
  height: auto;
    background: transparent;
    border: none;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
  }
  

  .main-navigation__logo-img{
    margin: 10px;
    padding: 10px;
  }

  .main-navigation__header-nav {
    display: none;
  }
  
  .main-navigation__drawer-nav {
    height: 100%;
  }
  
  @media (min-width: 800px) {
    .main-navigation__menu-btn {
      display: none;
    }
  
    .main-navigation__header-nav {
      display: block;
    }

  }