.Accueil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px;
}
.Accueil p {
  text-align: center;
  width: 40%;
}
.FAQ {
  margin: 50px;
  color: #333;
  background: #fcfcfc;
  overflow-x: hidden;
}

.FAQ__header {
  font-size: 42px;
  border-bottom: 1px dotted #ccc;
  padding: 24px;
}

.FAQ__content {
  margin: 0 auto;
}

