.form-container-update{
    position: relative;
    justify-content: center;
    margin: 60px;
}
.formbold-form-wrapper-update {
    position: flex;
    top: 50px;
    z-index: 1;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
}

.formbold-mb-3-update {
    margin-bottom: 15px;
}

.formbold-relative-update {
    position: relative;
}

.formbold-opacity-0-update {
    opacity: 0;
}

.formbold-stroke-current-update {
    stroke: currentColor;
}

.formbold-form-wrapper-update {
    margin: 0 auto;
    max-width: 570px;
    width: 100%;
    background: white;
    padding: 40px;
}

.formbold-form-title-update {
    margin-bottom: 30px;
}

.formbold-form-title-update h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: black;
}

.formbold-input-flex-update {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.formbold-input-flex-update>div {
    width: 50%;
}

.formbold-form-input-update {
    text-align: center;
    width: 100%;
    padding: 13px 22px;
    border-radius: 5px;
    border: 1px solid #dde3ec;
    background: #ffffff;
    font-weight: 500;
    font-size: 16px;
    color: #536387;
    outline: none;
    resize: none;
}

.formbold-form-input-update:focus {
    border-color: #b3c000;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-form-label-update {
    color: #536387;
    font-size: 14px;
    line-height: 24px;
    display: block;
    margin-bottom: 10px;
}

.formbold-form-textarea-update {
    width: 100%;
    padding: 13px 22px;
    border-radius: 5px;
    border: 1px solid #dde3ec;
    background: #ffffff;
    font-weight: 500;
    font-size: 16px;
    color: #536387;
    outline: none;
    resize: none;
    height: 130px;
}

.formbold-form-textarea-update:focus {
    border-color: #b3c000;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-btn-update {
    margin: 30px;
    justify-content: center;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: solid #a7a7a7 1px;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.formbold-btn-update:hover {
    background-color: #b3c000;
    box-shadow: 0px 15px 20px #828282;
    color: #fff;
    transform: translateY(-7px);
}