.CardIntership{
    background-color: white;
    box-shadow: 0 30px 30px -25px #a7a7a7;
    border-radius: 10px;
    width: 500px;
    margin: 10px;
    height: 350px;
    padding: 20px;
    float: left;
}
.CardIntership span{
    display: block;
}
.CardIntership p{
    height: 100px;
    overflow: auto;
    color: gray;
}
.card-info{
    color: gray;
}
.title{
    display: inline;
}
.setting-wheel{
    cursor: pointer;
    display: block;
    top: 0;
    right: 0;
    width: auto;
    padding: 12px 10px 10px 14px;
    margin: 0;
    justify-content: center;
    align-items: center;
    float: right;
    color: gray;
    text-align: center;
    background-color: rgb(247, 247, 247);
    border: solid gray 1px;
    border-radius: 7px;
}
.setting-wheel:hover{
    background-color: #a7a7a7;
    color: white;
}